<div class="weather_container">
    <div class="weather_info">
        <div class="current_temp">{{$root.temperature.currentTemp}} &deg; C</div>
        <img class="weather_icon" ng-src="http://openweathermap.org/img/w/{{$root.temperature.icon}}.png"/>
        <div class="city_name">{{$root.temperature.cityName}}</div>
    </div>
    <div class="more_weather_info">
        <span>Max : {{$root.temperature.maxTemp}}&deg;</span>
        <span class="space"></span>
        <span>Min : {{$root.temperature.minTemp}}&deg;</span>
    </div>
</div>